/* Breakpoints */
.__header {
  height: 90px;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: white;
  border-bottom: 1px solid #dbdfe3;
  box-sizing: border-box;
  top: 0;
  transition: background-color 0.7s; }
  .__header--slidedown {
    animation-name: slidedown-header;
    animation-duration: 0.3s;
    top: -90px;
    animation-fill-mode: forwards; }

@keyframes slidedown-header {
  from {
    top: -90px; }
  to {
    top: 0; } }
  .__header--slideup {
    animation-name: slideup-header;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    top: 0; }

@keyframes slideup-header {
  from {
    top: 0; }
  to {
    top: -90px; } }
  .__header--delay {
    animation-delay: 0.3s; }
  .__header .__top-nav {
    display: flex;
    padding: 0 20px;
    justify-content: space-between; }
    .__header .__top-nav__sponsors {
      display: none; }
    .__header .__top-nav__mobile-icon {
      display: none; }
    .__header .__top-nav__logo {
      margin-top: 33px; }
      .__header .__top-nav__logo .rocket__a {
        color: #20211f;
        font-size: 16px;
        line-height: 1.25;
        text-decoration: none;
        font-family: "ITC Avant Garde Pro", "century gothic", arial, sans-serif; }
        .__header .__top-nav__logo .rocket__a:visited {
          color: #20211f; }
        .__header .__top-nav__logo .rocket__a:hover:before, .__header .__top-nav__logo .rocket__a:focus:before {
          box-shadow: 0 0 0 2px #20211f; }
    .__header .__top-nav .rocket__navbar__link {
      border-bottom: none;
      margin-top: 3px;
      padding-top: 29px;
      padding-bottom: 34px;
      padding-left: 20px;
      padding-right: 20px;
      font-weight: normal;
      background-color: transparent; }
      .__header .__top-nav .rocket__navbar__link--active:before {
        background-color: #20211f; }
      .__header .__top-nav .rocket__navbar__link:hover:before, .__header .__top-nav .rocket__navbar__link:focus:before {
        box-shadow: none; }
  .__header--index {
    background-color: transparent;
    border-bottom: 1px solid #707876;
    transition: background-color 0.7s; }
    .__header--index .__top-nav__logo .rocket__a {
      color: white; }
      .__header--index .__top-nav__logo .rocket__a:visited {
        color: white; }
    .__header--index .__top-nav .rocket__navbar__link {
      color: white; }
      .__header--index .__top-nav .rocket__navbar__link:hover, .__header--index .__top-nav .rocket__navbar__link:focus {
        color: white;
        background-color: transparent;
        box-shadow: 0 0 0 3px white; }
        .__header--index .__top-nav .rocket__navbar__link:hover:before, .__header--index .__top-nav .rocket__navbar__link:focus:before {
          display: none; }

.__top-bar {
  background-color: #e01A22;
  height: 4px; }

@media only screen and (max-width: 768px) {
  .__header {
    height: 68px; }
    .__header .__top-nav {
      padding: 0 80px; }
      .__header .__top-nav__items {
        display: none; }
      .__header .__top-nav__logo {
        margin-top: 23px; }
      .__header .__top-nav__mobile-icon {
        display: block;
        position: absolute;
        width: 68px;
        height: 68px;
        top: 0;
        left: 0;
        cursor: pointer; }
        .__header .__top-nav__mobile-icon:before, .__header .__top-nav__mobile-icon:after {
          position: absolute;
          content: "";
          left: 20px;
          top: 28px;
          width: 26px;
          height: 2px;
          background-color: #20211f;
          border-radius: 100px; }
        .__header .__top-nav__mobile-icon:after {
          top: 37px; }
    .__header--index .__top-nav__mobile-icon:before, .__header--index .__top-nav__mobile-icon:after {
      background-color: white; }
    .__header--mobile-view {
      background-color: white;
      border-bottom: 1px solid #dbdfe3; }
      .__header--mobile-view .__top-nav__logo .rocket__a,
      .__header--mobile-view .__top-nav__logo .rocket__a:visited {
        color: #20211f; }
      .__header--mobile-view .__top-nav__mobile-icon:before, .__header--mobile-view .__top-nav__mobile-icon:after {
        background-color: #20211f;
        top: 34px;
        transform: rotate(45deg); }
      .__header--mobile-view .__top-nav__mobile-icon:after {
        transform: rotate(-45deg); } }

.__main__components {
  margin-top: 215px;
  margin-left: 256px;
  position: relative; }
  @media only screen and (max-width: 768px) {
    .__main__components {
      margin-left: 0;
      margin-top: 0; } }

.__main__header {
  background-color: #2a3b4b;
  padding-top: 200px;
  padding-bottom: 110px;
  padding-left: 80px;
  padding-right: 80px;
  color: white;
  position: relative; }
  @media only screen and (max-width: 768px) {
    .__main__header {
      padding-left: 20px;
      padding-right: 20px; } }
  .__main__header__main {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto; }

.__main__heading {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 5px; }

.__main__description {
  font-size: 16px;
  margin: 0; }

.__main__content {
  margin-top: 60px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding: 0 80px;
  position: relative; }

@media only screen and (max-width: 768px) {
  .__main__components {
    margin-left: 0;
    margin-top: 0; } }

@media only screen and (max-width: 768px) and (max-width: 768px) {
  .__main__content {
    padding: 0 20px; } }

.__footer {
  background-color: #2a3b4b; }
  .__footer--system {
    margin-left: 258px; }
    .__footer--system .__footer__container {
      padding-left: 50px;
      padding-right: 50px;
      max-width: none; }
    .__footer--system .__footer__container--main {
      margin-left: 0; }
  .__footer__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 80px; }
  .__footer__get-in-touch {
    background-image: url("/static/images/get-in-touch.png");
    background-repeat: no-repeat;
    background-position: 0 33%;
    background-size: 110% auto;
    position: relative; }
  .__footer .__get-in-touch {
    width: 45%; }
    .__footer .__get-in-touch__title {
      font-size: 20px;
      line-height: 1.4;
      font-family: "Source Sans", arial, sans-serif;
      color: white;
      margin-bottom: 40px; }
    .__footer .__get-in-touch__content {
      font-size: 16px;
      line-height: 1.5;
      color: white;
      margin-bottom: 40px; }
    .__footer .__get-in-touch__link {
      color: white;
      font-size: 16px;
      line-height: 1.5;
      margin-right: 50px;
      text-decoration: none;
      display: inline-block;
      position: relative; }
      .__footer .__get-in-touch__link:after {
        position: absolute;
        content: "";
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' aria-hidden='true' focusable='false'%3E%3Cpolyline points='5.99 3.99 10.02 8 5.99 12.01' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        right: -20px;
        top: 3px; }
      .__footer .__get-in-touch__link:visited {
        color: white; }
      .__footer .__get-in-touch__link:focus, .__footer .__get-in-touch__link:hover {
        color: white;
        text-decoration: underline; }
        .__footer .__get-in-touch__link:focus:visited, .__footer .__get-in-touch__link:hover:visited {
          color: white; }
  .__footer .__footer-main__title {
    font-size: 20px;
    line-height: 1.4;
    font-family: "Source Sans", arial, sans-serif;
    color: white;
    margin-bottom: 40px; }
  .__footer .__footer-main__content {
    font-size: 16px;
    line-height: 1.5;
    color: white;
    margin-bottom: 40px; }
  .__footer .__footer-main__links {
    margin-bottom: 80px; }
    .__footer .__footer-main__links .rocket__a,
    .__footer .__footer-main__links .rocket__a:visited {
      margin-right: 30px;
      margin-bottom: 20px;
      font-size: 16px;
      color: white; }
  .__footer .__footer-main__powered-by {
    font-size: 16px;
    color: white;
    line-height: 1.38;
    margin-right: 30px;
    vertical-align: top; }
  .__footer .__footer-main__org {
    display: inline-block;
    margin-right: 21px; }

@media only screen and (max-width: 768px) {
  .__footer--system {
    margin-left: 0; }
    .__footer--system .__footer__container {
      padding: 70px 20px; }
  .__footer__get-in-touch {
    background-position: 30% 42%;
    background-size: auto 200%;
    position: relative; }
  .__footer__container {
    padding: 70px 20px; }
    .__footer__container--main {
      margin-left: 0; }
  .__footer .__get-in-touch {
    width: auto; }
  .__footer .__footer-main__powered-by {
    display: block;
    margin-bottom: 20px; } }

.__index .__section-1 {
  background-color: #20231b;
  margin-top: -90px;
  background-image: url("/static/images/section-1.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 140% auto; }
  .__index .__section-1__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 80px;
    margin-top: 90px; }
  .__index .__section-1__intro {
    padding-top: 120px;
    margin-left: 55%; }
  .__index .__section-1__title {
    color: white;
    font-size: 32px;
    line-height: 1.25;
    font-family: "ITC Avant Garde Pro", "century gothic", arial, sans-serif;
    margin-bottom: 30px; }
  .__index .__section-1__content {
    font-size: 16px;
    line-height: 1.5;
    color: #727272;
    color: white;
    margin-bottom: 80px; }
  .__index .__section-1__powered-by {
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 1.5;
    height: 27px;
    color: white; }
  .__index .__section-1__org {
    width: 100px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 21px;
    vertical-align: top; }

.__index .__section-2 {
  background-color: #2a3b4b;
  color: white;
  background-image: url("/static/images/section-2.png");
  background-repeat: no-repeat;
  background-position-x: 200%;
  background-position-y: 20%;
  background-size: 75% auto; }
  .__index .__section-2__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 80px; }
  .__index .__section-2__intro {
    width: 45%; }
  .__index .__section-2__title {
    font-size: 20px;
    line-height: 1.4;
    font-family: "ITC Avant Garde Pro", "century gothic", arial, sans-serif;
    margin-bottom: 40px;
    color: white; }
  .__index .__section-2__content {
    font-size: 16px;
    line-height: 1.5;
    color: #727272;
    color: white;
    margin-bottom: 24px; }
  .__index .__section-2__selection {
    margin-bottom: 20px; }
    .__index .__section-2__selection .rocket__dropdown {
      margin-right: 10px;
      margin-bottom: 10px; }
      .__index .__section-2__selection .rocket__dropdown__label {
        color: white; }
      .__index .__section-2__selection .rocket__dropdown__button {
        min-width: 180px; }

.__index .__section-3 {
  overflow-x: hidden; }
  .__index .__section-3__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 80px 30px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .__index .__section-3__title {
    font-size: 20px;
    line-height: 1.4;
    font-family: "ITC Avant Garde Pro", "century gothic", arial, sans-serif;
    margin-bottom: 40px;
    color: #20211f; }
  .__index .__section-3__intro {
    flex-basis: 50%; }
  .__index .__section-3__content {
    font-size: 16px;
    line-height: 1.5;
    color: #727272; }
  .__index .__section-3__carousel {
    height: 500px;
    padding-left: 80px;
    padding-right: 80px;
    max-width: 1280px;
    margin: 0 auto; }
    .__index .__section-3__carousel .__carousel__card {
      margin-right: 20px;
      position: relative; }

.__index .__section-4 {
  background-color: #2a3b4b;
  position: relative; }
  .__index .__section-4__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 80px;
    background-image: url("/static/images/section-4.png");
    background-repeat: no-repeat;
    background-position-x: 92%;
    background-position-y: 0; }
  .__index .__section-4__title {
    font-size: 20px;
    line-height: 1.4;
    font-family: "ITC Avant Garde Pro", "century gothic", arial, sans-serif;
    margin-bottom: 40px;
    color: white; }
  .__index .__section-4__intro {
    width: 45%; }
  .__index .__section-4__content {
    font-size: 16px;
    line-height: 1.5;
    color: white;
    margin-bottom: 40px; }

.__index .__section-5__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 80px;
  display: flex;
  justify-content: space-between; }

.__index .__section-5__title {
  font-size: 20px;
  line-height: 1.4;
  font-family: "ITC Avant Garde Pro", "century gothic", arial, sans-serif;
  margin-bottom: 40px; }

.__index .__section-5__intro {
  flex-basis: 45%; }

.__index .__section-5__content {
  margin-bottom: 50px; }

.__index .__section-5__change-list.rocket {
  margin-top: 58px;
  flex-basis: 45%; }
  .__index .__section-5__change-list.rocket ul {
    margin: 0;
    padding: 0; }
  .__index .__section-5__change-list.rocket li {
    padding: 0;
    background-image: none;
    color: #20211f; }
  .__index .__section-5__change-list.rocket p {
    color: #20211f; }
  .__index .__section-5__change-list.rocket h2 {
    margin: 0; }
  .__index .__section-5__change-list.rocket strong {
    background-color: #20211f;
    color: white;
    border-radius: 100px;
    padding: 2px 8px; }

.__index .__section-5__content {
  font-size: 16px;
  line-height: 1.5;
  color: #727272; }

@media only screen and (max-width: 768px) {
  .__index .__section-1 {
    background-size: auto 220%;
    background-position: 42% 47%; }
    .__index .__section-1__container {
      padding: 70px 20px; }
    .__index .__section-1__intro {
      margin-left: 0; }
    .__index .__section-1__title {
      margin-bottom: 20px; }
  .__index .__section-2 {
    background-image: none; }
    .__index .__section-2__container {
      padding: 70px 20px; }
    .__index .__section-2__intro {
      width: auto; }
    .__index .__section-2__title {
      margin-bottom: 20px; }
    .__index .__section-2 .rocket__dropdown {
      width: 100%;
      display: block; }
  .__index .__section-3__container {
    padding: 70px 20px;
    flex-direction: column; }
  .__index .__section-3__intro {
    margin-bottom: 50px; }
  .__index .__section-3__title {
    margin-bottom: 20px; }
  .__index .__section-3__carousel {
    padding-left: 20px;
    padding-right: 20px; }
  .__index .__section-3 .rocket__button {
    display: block;
    box-sizing: border-box;
    width: 100%; }
  .__index .__section-4__container {
    padding: 70px 20px;
    background-image: none; }
  .__index .__section-4__title {
    margin-bottom: 20px; }
  .__index .__section-4__intro {
    width: auto; }
  .__index .__section-5__container {
    padding: 70px 20px;
    flex-direction: column; }
  .__index .__section-5__title {
    margin-bottom: 20px; }
  .__index .__section-5__change-list {
    flex-basis: auto; } }

.__side-bar {
  width: 258px;
  min-width: 258px;
  padding-bottom: 20px;
  padding-top: 210px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f0f2f4; }
  .__side-bar__select {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 66px; }
    .__side-bar__select .rocket__dropdown {
      margin-bottom: 10px;
      display: block; }
  .__side-bar__title {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 13px; }
  .__side-bar .rocket__side-nav__item {
    border-bottom: 1px solid #dbdfe3; }
    .__side-bar .rocket__side-nav__item:hover, .__side-bar .rocket__side-nav__item:focus {
      text-decoration: none; }
  .__side-bar .rocket__sub-nav__item {
    margin-top: 2px; }
  .__side-bar .rocket__side-nav__link, .__side-bar .rocket__sub-nav__trigger {
    padding: 22px 16px 22px 32px;
    font-size: 20px;
    font-weight: normal;
    color: #20211f; }
    .__side-bar .rocket__side-nav__link:hover:after, .__side-bar .rocket__side-nav__link:focus:after, .__side-bar .rocket__sub-nav__trigger:hover:after, .__side-bar .rocket__sub-nav__trigger:focus:after {
      left: 0;
      right: 0; }
  .__side-bar .rocket__side-nav__link--selected:before {
    box-shadow: none;
    background-color: #20211f; }
  .__side-bar .rocket__side-nav__link:focus:after, .__side-bar .rocket__side-nav__link:hover:after {
    border-left-width: 0; }
  .__side-bar .rocket__sub-nav__trigger:before {
    background-color: #20211f; }
  .__side-bar .rocket__sub-nav--link-selected .rocket__sub-nav__trigger:before {
    background-color: #20211f; }
  .__side-bar .rocket__sub-nav--link-selected .rocket__sub-nav__trigger:focus:after, .__side-bar .rocket__sub-nav--link-selected .rocket__sub-nav__trigger:hover:after {
    border-left-width: 0; }
  .__side-bar .rocket__sub-nav__item:last-child {
    margin-bottom: 48px; }
  .__side-bar .rocket__sub-nav__item .rocket__sub-nav__link {
    padding: 6px 16px 6px 32px;
    font-weight: normal;
    text-decoration: none; }
    .__side-bar .rocket__sub-nav__item .rocket__sub-nav__link:after {
      left: 0;
      right: 0; }
    .__side-bar .rocket__sub-nav__item .rocket__sub-nav__link--selected {
      color: #20211f;
      font-weight: bold;
      text-decoration: underline; }
      .__side-bar .rocket__sub-nav__item .rocket__sub-nav__link--selected:hover, .__side-bar .rocket__sub-nav__item .rocket__sub-nav__link--selected:focus, .__side-bar .rocket__sub-nav__item .rocket__sub-nav__link--selected:visited {
        color: #20211f; }

@media only screen and (max-width: 768px) {
  .__side-bar {
    display: none; } }

.__all-colors__cards {
  display: flex;
  flex-wrap: wrap; }
  .__all-colors__cards .__color-card {
    margin-right: 20px;
    margin-bottom: 20px; }

.__all-colors__section {
  margin-bottom: 60px; }
  .__all-colors__section--night {
    background-color: #2a3b4b;
    position: relative;
    width: 105%;
    left: -5%;
    padding-left: 5%;
    padding-top: 40px;
    padding-bottom: 100px; }
    .__all-colors__section--night h2,
    .__all-colors__section--night h3 {
      color: white; }
    @media only screen and (max-width: 768px) {
      .__all-colors__section--night {
        width: calc(100% + 20px); } }

.__all-colors .__all-colors__subheading {
  margin-bottom: 20px; }

.__color-card {
  width: 170px;
  border-radius: 4px; }
  .__color-card__color {
    height: 140px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
  .__color-card__description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 85px;
    background-color: white;
    border: 1px solid #e5e8eb;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
  .__color-card__name {
    font-size: 18px;
    line-height: 1.67;
    color: #20211f; }
  .__color-card__code {
    color: #727272;
    font-size: 16px;
    line-height: 1.5; }

.__icons .__icon {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  width: 130px;
  display: inline-block;
  text-align: center;
  margin-bottom: 16px;
  margin-right: 15px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 0; }
  .__icons .__icon:before {
    content: none; }
  .__icons .__icon__link {
    margin-bottom: 10px; }
  .__icons .__icon__image {
    width: 16px;
    height: 16px;
    display: inline-block; }
  .__icons .__icon__caption {
    color: #3f4140;
    font-size: 16px;
    line-height: 22px; }

.__section__header {
  margin-bottom: 15px; }

.__section__title {
  margin-bottom: 8px;
  font-family: "ITC Avant Garde Pro", "century gothic", arial, sans-serif;
  font-size: 40px;
  line-height: 45px; }

.__section__content {
  color: #3f4140;
  font-size: 20px;
  margin-bottom: 8px; }

.__section__footer {
  font-size: 16px;
  line-height: 22px; }

.__section--horizontal .__showcase__glass .rocket__button:before {
  content: ""; }

.__section--vertical .__showcase__glass {
  flex-direction: column; }
  .__section--vertical .__showcase__glass .rocket__button {
    width: 178px; }

@media only screen and (max-width: 768px) {
  .__main__content--resources {
    padding: 0 20px; } }

.__main__content--resources .__resources {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px; }
  .__main__content--resources .__resources rocket-card {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 356px; }

.__resource__card__background {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f8f8f8;
  background-color: #2a3b4b;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }
  .__resource__card__background text {
    font-family: "Source Sans", arial, sans-serif; }
  .__resource__card__background--colesgroup {
    background-color: white; }
  .__resource__card__background--coles {
    background-color: #e01a22; }
  .__resource__card__background--liquorland {
    background-color: #fedc02; }
  .__resource__card__background--firstchoice {
    background-color: #20211f; }
  .__resource__card__background--vintagecellars {
    background-color: #b01240; }
  .__resource__card__background--styles text {
    font-family: "ITC Avant Garde Pro", "century gothic", arial, sans-serif; }

@media only screen and (max-width: 768px) {
  .__main__content--accessibility {
    padding: 0 20px; } }

@media only screen and (max-width: 768px) {
  .__main__content--support {
    padding: 0 20px; } }

.__showcase--night .__showcase__frame {
  background-color: #2a3b4b; }

.__showcase--night .__showcase__label {
  color: white; }
  .__showcase--night .__showcase__label--active {
    border-color: white; }

.__showcase__frame {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(32, 33, 31, 0.05);
  border-bottom: none; }

.__showcase__glass {
  padding: 80px 30px 40px 30px;
  display: flex;
  justify-content: center;
  font-size: 16px; }

.__showcase__label {
  padding: 15px 31px;
  display: inline-block;
  cursor: pointer;
  color: rgba(32, 33, 31, 0.65);
  font-size: 16px; }
  .__showcase__label--active {
    border-bottom: 4px solid #e01A22;
    color: #20211f; }

.__showcase__description {
  padding: 24px 24px 32px 24px;
  background-color: #f8f8f8;
  opacity: 0.85;
  line-height: 24px;
  font-size: 14px;
  color: #484B54; }

.__website {
  /* Site wise **************************************************************************************/ }
  .__website .rocket {
    /* Default markups ********************************************************************************/
    /* Only override immediate children. So less likely to affect styles in Components
/* eg.  h4.rocket__dialog__title otherwise can be overridden by __website .rocket h4
/* ************************************************************************************************/
    /* Rocket styles **********************************************************************************/ }
    .__website .rocket > h1 {
      font-family: "ITC Avant Garde Pro", "century gothic", arial, sans-serif;
      font-size: 60px; }
      @media only screen and (max-width: 768px) {
        .__website .rocket > h1 {
          font-size: 32px;
          color: #20211f; } }
    .__website .rocket > h2 {
      font-family: "ITC Avant Garde Pro", "century gothic", arial, sans-serif;
      font-size: 20px;
      margin-top: 1em; }
    .__website .rocket > h3 {
      font-family: "ITC Avant Garde Pro", "century gothic", arial, sans-serif;
      font-size: 16px;
      margin-top: 1em; }
    .__website .rocket > h4 {
      font-family: "ITC Avant Garde Pro", "century gothic", arial, sans-serif;
      font-size: 14px;
      margin-top: 1em; }
    .__website .rocket > h5 {
      font-family: "ITC Avant Garde Pro", "century gothic", arial, sans-serif;
      margin-top: 1.5em; }
    .__website .rocket > h6 {
      margin-top: 2em; }
    .__website .rocket > h1 + p {
      font-size: 16px;
      color: #20211f;
      height: 220px; }
    .__website .rocket > h2 + p {
      font-size: 16px; }
    .__website .rocket > h2 + p,
    .__website .rocket > h2 + ul,
    .__website .rocket > h2 + ol,
    .__website .rocket > h2 + table,
    .__website .rocket > h2 + dl,
    .__website .rocket > h2 + pre,
    .__website .rocket > h2 + blockquote,
    .__website .rocket > h3 + p,
    .__website .rocket > h3 + ul,
    .__website .rocket > h3 + ol,
    .__website .rocket > h3 + table,
    .__website .rocket > h3 + dl,
    .__website .rocket > h3 + pre,
    .__website .rocket > h3 + blockquote,
    .__website .rocket > h4 + p,
    .__website .rocket > h4 + ul,
    .__website .rocket > h4 + ol,
    .__website .rocket > h4 + table,
    .__website .rocket > h4 + dl,
    .__website .rocket > h4 + pre,
    .__website .rocket > h4 + blockquote,
    .__website .rocket > h5 + p,
    .__website .rocket > h5 + ul,
    .__website .rocket > h5 + ol,
    .__website .rocket > h5 + table,
    .__website .rocket > h5 + dl,
    .__website .rocket > h5 + pre,
    .__website .rocket > h5 + blockquote {
      margin-top: -0.25em; }
    .__website .rocket > p,
    .__website .rocket > ul > li,
    .__website .rocket > ol > li {
      color: #727272; }
    .__website .rocket > pre {
      background-color: #f8f8f8;
      padding: 1em;
      word-break: break-word; }
    .__website .rocket > strong {
      color: #20211f; }
    .__website .rocket__button--icon:hover:before, .__website .rocket__button--icon:focus:before {
      box-shadow: none; }
    .__website .rocket__field__title {
      margin-bottom: 8px; }
    .__website .rocket__thumbnail .rocket__thumbnail__title:hover, .__website .rocket__thumbnail .rocket__thumbnail__title:focus {
      color: white; }
      .__website .rocket__thumbnail .rocket__thumbnail__title:hover:before, .__website .rocket__thumbnail .rocket__thumbnail__title:focus:before {
        box-shadow: 0 0 0 2px white; }
    .__website .rocket__thumbnail .rocket__thumbnail__title:active:before {
      box-shadow: none; }
    .__website .rocket__thumbnail .rocket__thumbnail__title:visited {
      color: white; }
      .__website .rocket__thumbnail .rocket__thumbnail__title:visited:hover, .__website .rocket__thumbnail .rocket__thumbnail__title:visited:focus {
        color: white; }
    .__website .rocket__tile .rocket__tile__title {
      color: #20211f; }
      .__website .rocket__tile .rocket__tile__title:hover, .__website .rocket__tile .rocket__tile__title:focus {
        color: #20211f; }
        .__website .rocket__tile .rocket__tile__title:hover:before, .__website .rocket__tile .rocket__tile__title:focus:before {
          box-shadow: 0 0 0 2px #20211f; }
      .__website .rocket__tile .rocket__tile__title:active:before {
        box-shadow: none; }
      .__website .rocket__tile .rocket__tile__title:visited:hover, .__website .rocket__tile .rocket__tile__title:visited:focus {
        color: #20211f; }
    .__website .rocket__navbar--pill .rocket__navbar__item .rocket__navbar__link {
      border-radius: 100px; }
      .__website .rocket__navbar--pill .rocket__navbar__item .rocket__navbar__link:after {
        border-radius: 100px; }
    .__website .rocket__navbar--pill .rocket__navbar__item--active .rocket__navbar__link {
      color: white;
      background-color: #20211f; }
  .__website .__index .rocket__d1, .__website .__index .rocket__d2 {
    font-family: "ITC Avant Garde Pro"; }
  .__website .__index .rocket__button {
    border-radius: 100px; }
    .__website .__index .rocket__button:after {
      border-radius: 100px; }
    .__website .__index .rocket__button--primary {
      background-color: #e01A22;
      border-color: #e01A22;
      color: white; }
      .__website .__index .rocket__button--primary:focus, .__website .__index .rocket__button--primary:hover {
        color: white; }
        .__website .__index .rocket__button--primary:focus:after, .__website .__index .rocket__button--primary:hover:after {
          border-color: #e01A22; }
    .__website .__index .rocket__button--secondary {
      border-color: transparent; }
      .__website .__index .rocket__button--secondary:hover:after, .__website .__index .rocket__button--secondary:focus:after {
        border-color: white; }

/* Override Prism *********************************************************************************/
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #f8f8f8; }

code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap;
  word-break: break-word; }

.__component {
  /* Override Markdown */ }
  .__component--radio-button .rocket__label, .__component--checkbox .rocket__label {
    margin-right: 20px; }
  .__component--button .rocket__button {
    margin: 6px; }
  .__component--radio-dialog .rocket__radio-dialog {
    margin: 10px; }
  .__component--select .rocket__select {
    width: 150px; }
  .__component--tooltip .rocket__tooltip {
    margin-left: 20px;
    margin-right: 20px; }
  .__component--thumbnail .rocket__thumbnail .rocket__thumbnail__image {
    width: 360px; }
  .__component--navbar .rocket__navbar--pill .rocket__navbar__item {
    margin: 0 4px; }
  .__component .rocket h4, .__component .rocket h5, .__component .rocket h6 {
    margin-top: 0; }

.__in-page-nav {
  position: absolute;
  top: 211px;
  left: 30px;
  right: 0;
  z-index: 1;
  background-color: white;
  padding-right: 20px;
  padding-left: 26px; }
  .__in-page-nav__component {
    display: none;
    text-transform: capitalize;
    font-family: "ITC Avant Garde Pro", "century gothic", arial, sans-serif;
    font-size: 16px;
    color: #2a3b4b; }
  .__in-page-nav--slidedown, .__in-page-nav--slideup {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    left: 0;
    z-index: 101;
    border-bottom: 1px solid #e5e8eb;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-delay: 0.3s; }
    .__in-page-nav--slidedown .__in-page-nav__component, .__in-page-nav--slideup .__in-page-nav__component {
      display: block; }
  .__in-page-nav--slidedown {
    top: -66px;
    animation-name: slidedown-in-page-nav; }

@keyframes slidedown-in-page-nav {
  from {
    top: -66px; }
  to {
    top: 0; } }
  .__in-page-nav--slideup {
    top: 0;
    animation-name: slideup-in-page-nav; }

@keyframes slideup-in-page-nav {
  from {
    top: 0; }
  to {
    top: -66px; } }
  .__in-page-nav__items .rocket__navbar__link {
    border-bottom-color: transparent;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-weight: normal; }
    .__in-page-nav__items .rocket__navbar__link:hover:before, .__in-page-nav__items .rocket__navbar__link:focus:before {
      box-shadow: none; }
  .__in-page-nav__items .rocket__navbar__item--active .rocket__navbar__link:before {
    background-color: #20211f;
    bottom: -3px; }

@media only screen and (max-width: 768px) {
  .__in-page-nav {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    left: -30px; } }

.__all-components {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-left: -10px; }
  .__all-components .rocket__card {
    width: 300px;
    margin: 10px; }
    .__all-components .rocket__card__thumbnail {
      display: flex;
      height: 240px;
      background-color: #2a3b4b;
      justify-content: center;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px; }
    .__all-components .rocket__card__image {
      width: 50%;
      height: 90%; }
    .__all-components .rocket__card__pill {
      background-color: #20211f;
      color: white; }
    .__all-components .rocket__card .rocket__a,
    .__all-components .rocket__card .rocket__a:visited {
      color: #20211f;
      text-decoration: none; }
      .__all-components .rocket__card .rocket__a:hover, .__all-components .rocket__card .rocket__a:focus,
      .__all-components .rocket__card .rocket__a:visited:hover,
      .__all-components .rocket__card .rocket__a:visited:focus {
        text-decoration: underline; }

.__mobile-nav {
  position: fixed;
  top: 68px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: none;
  z-index: 1000; }
  .__mobile-nav__main {
    position: absolute;
    top: 67px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000; }
    .__mobile-nav__main .rocket__side-nav__item {
      border-bottom: none; }
      .__mobile-nav__main .rocket__side-nav__item:first-child .rocket__side-nav__link {
        padding-top: 14px;
        padding-bottom: 16px;
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' aria-hidden='true' focusable='false'%3E%3Cpolyline points='5.99 3.99 10.02 8 5.99 12.01' fill='none' stroke='%2320211f' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: top 50% right 20px; }
    .__mobile-nav__main .rocket__side-nav__link {
      color: #20211f;
      display: block;
      font-family: "ITC Avant Garde Pro", "century gothic", arial, sans-serif;
      font-size: 24px;
      padding-left: 25px;
      padding-right: 25px; }
      .__mobile-nav__main .rocket__side-nav__link:visited {
        color: #20211f; }
      .__mobile-nav__main .rocket__side-nav__link:hover, .__mobile-nav__main .rocket__side-nav__link:focus {
        color: #20211f;
        box-shadow: none; }
        .__mobile-nav__main .rocket__side-nav__link:hover:after, .__mobile-nav__main .rocket__side-nav__link:focus:after {
          left: 0;
          right: 0; }
      .__mobile-nav__main .rocket__side-nav__link--selected:before {
        background-color: #20211f; }
    .__mobile-nav__main__sponsors {
      display: block;
      height: 20px;
      position: absolute;
      bottom: 40px;
      left: 20px; }
    .__mobile-nav__main__org {
      display: inline-block;
      margin-right: 24px; }
  .__mobile-nav__sub {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1100;
    background-color: #f0f2f4;
    overflow-y: auto;
    transition: left 0.2s ease-out, right 0.2s ease-out; }
    .__mobile-nav__sub--hidden {
      left: 100%;
      right: -100%; }
    .__mobile-nav__sub__back {
      margin-left: 20px;
      margin-top: 27px;
      padding-left: 16px;
      color: #20211f; }
      .__mobile-nav__sub__back:hover:after, .__mobile-nav__sub__back:focus:after {
        border-color: #20211f;
        border-radius: 100px; }
    .__mobile-nav__sub .__side-bar {
      display: block;
      position: static;
      width: auto;
      min-width: auto;
      padding-top: 40px; }
      .__mobile-nav__sub .__side-bar .rocket__select {
        line-height: 47px;
        box-shadow: 0 0 0 1px #898d8e;
        font-size: 20px;
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' aria-hidden='true' focusable='false'%3E%3Cpath d='M12,6,8,10,4,6' fill='none' stroke='%2320211f' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' opacity='0.65'/%3E%3C/svg%3E"); }
      .__mobile-nav__sub .__side-bar .rocket__sub-nav__trigger {
        background-position: top 50% right 32px; }

@media only screen and (max-width: 768px) {
  .__mobile-nav {
    display: block; }
    .__mobile-nav--hidden {
      display: none; } }

.__tag-bar {
  margin-bottom: 10px; }
  .__tag-bar .rocket__pill {
    margin-right: 5px;
    background-color: #20211f;
    color: white;
    font-size: 12px;
    font-weight: normal; }

.__main--system {
  margin-left: 258px;
  position: relative;
  min-height: 276px; }
  .__main--system .__hr {
    position: absolute;
    left: 0;
    height: 5px;
    right: 0;
    border: none;
    border-bottom: 1px solid #e5e8eb;
    top: 263px;
    z-index: 10; }
  @media only screen and (max-width: 768px) {
    .__main--system {
      margin-left: 0; } }
  .__main--system .__main__content {
    max-width: 980px;
    margin-top: 215px; }
    @media only screen and (max-width: 768px) {
      .__main--system .__main__content {
        padding-left: 20px;
        padding-right: 20px; } }

.__image-container {
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #f8f8f8;
  margin-top: 50px;
  margin-bottom: 100px; }
  .__image-container--vertical {
    padding-top: 0; }
    .__image-container--vertical .__image-container__image {
      max-width: 100%;
      margin: 0 auto;
      width: auto; }
  .__image-container__image {
    width: 100%;
    display: block; }

.__for-designers-banner {
  padding-top: 114px;
  padding-bottom: 96px;
  padding-left: 78px;
  padding-right: 50%;
  background-color: #2a3b4b;
  margin-top: 100px;
  margin-bottom: 100px;
  background-image: url("/static/images/web/get-started/for-designers/ipad.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 45%; }
  .__for-designers-banner__title {
    color: white;
    margin-bottom: 50px;
    font-size: 20px;
    font-family: "ITC Avant Garde Pro", "century gothic", arial, sans-serif;
    background-image: url("/static/images/web/get-started/for-designers/dsm-logo.png");
    background-repeat: no-repeat;
    background-position: 185px 5px;
    line-height: 2; }
  .__for-designers-banner__content {
    color: white;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 50px; }

.__filter-bar__title {
  display: none;
  color: #20211f;
  font-size: 16px;
  font-family: "ITC Avant Garde Pro", "century gothic", arial, sans-serif; }

.__filter-bar.rocket__navbar--pill {
  position: absolute;
  bottom: 10px;
  animation-name: fadein-filter-bar;
  animation-duration: 0.3s;
  animation-timing-function: ease-in; }

@keyframes fadein-filter-bar {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .__filter-bar.rocket__navbar--pill .rocket__navbar__item {
    margin-right: 10px; }
  .__filter-bar.rocket__navbar--pill.__filter-bar--slidedown, .__filter-bar.rocket__navbar--pill.__filter-bar--slideup {
    position: fixed;
    bottom: auto;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5e8eb;
    background-color: white;
    z-index: 1;
    padding: 25px;
    animation-duration: 0.3s;
    animation-fill-mode: forwards; }
    .__filter-bar.rocket__navbar--pill.__filter-bar--slidedown .__filter-bar__title, .__filter-bar.rocket__navbar--pill.__filter-bar--slideup .__filter-bar__title {
      display: block; }
  .__filter-bar.rocket__navbar--pill.__filter-bar--slidedown {
    top: -80px;
    animation-name: slidedown-filter-bar;
    animation-delay: 0.3s; }

@keyframes slidedown-filter-bar {
  from {
    top: -80px; }
  to {
    top: 0; } }
  .__filter-bar.rocket__navbar--pill.__filter-bar--slideup {
    top: 0;
    animation-name: slideup-filter-bar; }

@keyframes slideup-filter-bar {
  from {
    top: 0; }
  to {
    top: -80px; } }

.__filter-bar.rocket__navbar--vertical .rocket__navbar__link {
  font-family: "ITC Avant Garde Pro", "century gothic", arial, sans-serif; }

.__filter-bar.rocket__navbar--vertical .rocket__navbar__item--active .rocket__navbar__link {
  font-size: 32px; }
  .__filter-bar.rocket__navbar--vertical .rocket__navbar__item--active .rocket__navbar__link:after {
    content: none; }

.__main--whatsnew .__main__header {
  background-color: transparent;
  color: #20211f;
  border-bottom: 1px solid #e5e8eb;
  height: 230px;
  padding-bottom: 0; }

.__main--whatsnew .__main__content {
  display: flex;
  align-items: flex-start;
  flex-grow: 1; }
  .__main--whatsnew .__main__content__sidenav {
    width: 180px;
    top: 120px;
    position: sticky;
    width: 200px;
    min-width: 120px;
    margin-right: 30px; }
  .__main--whatsnew .__main__content__main.rocket {
    width: 100%; }
    .__main--whatsnew .__main__content__main.rocket h2 {
      margin: 0;
      color: #20211f;
      font-family: "Source Sans", arial, sans-serif; }
    .__main--whatsnew .__main__content__main.rocket h3 {
      color: #20211f;
      font-family: "Source Sans", arial, sans-serif; }
    .__main--whatsnew .__main__content__main.rocket p {
      color: #20211f; }
    .__main--whatsnew .__main__content__main.rocket ul {
      margin: 0;
      padding: 0;
      list-style: none; }
    .__main--whatsnew .__main__content__main.rocket li {
      background-image: none;
      padding: 0; }
    .__main--whatsnew .__main__content__main.rocket h2 + ul {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 60px; }
      .__main--whatsnew .__main__content__main.rocket h2 + ul li {
        box-sizing: border-box;
        display: block;
        width: 50%; }
        .__main--whatsnew .__main__content__main.rocket h2 + ul li:nth-child(2n+1) {
          padding-right: 20px; }
        @media only screen and (max-width: 768px) {
          .__main--whatsnew .__main__content__main.rocket h2 + ul li {
            width: 100%; }
            .__main--whatsnew .__main__content__main.rocket h2 + ul li:nth-child(2n+1) {
              padding-right: 0; } }
    .__main--whatsnew .__main__content__main.rocket strong {
      background-color: #20211f;
      color: white;
      border-radius: 100px;
      padding: 2px 8px; }

.__main--whatsnew .__filter-bar.rocket__navbar--vertical .rocket__navbar__item .rocket__navbar__link {
  transition: font-size 0.3s; }

html, body {
  margin: 0;
  height: 100%; }

@font-face {
  font-family: "ITC Avant Garde Pro";
  src: url("rocket-styles/assets/fonts/AvantGardePro/AvantGardeGothicITCW05-Demi.woff2") format("woff2"), url("rocket-styles/assets/fonts/AvantGardePro/AvantGardeGothicITCW05-Demi.woff") format("woff"), url("rocket-styles/assets/fonts/AvantGardePro/AvantGardeGothicITCW05-Demi.ttf") format("truetype"), url("rocket-styles/assets/fonts/AvantGardePro/AvantGardeGothicITCW05-Demi.eot?#iefix") format("embedded-opentype"); }

.__root {
  font-size: 14px;
  color: #20211f;
  font-family: "Source Sans", arial, sans-serif;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto; }

/*# sourceMappingURL=styles.css.map */